.titleAndBody {
  margin-top: -70px;
  height: 10px;
}

.title {
  height: 30px;
  width: 260px;
  margin-top: 110px;
}

.body {
  height: 30px;
  width: 260px;
  margin-left: 115px;
  margin-top: 25px;
  margin-bottom: 90px;
}

.addPostsBtns {
  height: 1px;
  margin-left: 300px;
  margin-top: 80px;
}

.allPostAdd {
  margin-top: -120px;
}
