.addUser {
  border: 1px solid black;
  margin-top: -60px;
  margin-left: 600px;
  width: 300px;
  height: 200px;
}

.titleAndDiv {
  width: 120px;
  height: 90px;
  margin-top: -680px;
  margin-left: 600px;
}

.nameAndEmail {
  text-align: center;
  margin-top: 35px;
}

.addCancelBtns {
  margin-top: 3px;
  margin-left: 190px;
}
