.allUsers {
  border-radius: 60px;
  border: 1px solid blueviolet;
  padding: 20px;
  width: 30%;
  height: 800px;
  margin-left: 20px;
  margin-top: -610px;
  float: left;
}
.searchAdd {
  text-align: center;
  margin-left: 20px;
}

input[type="text"] {
  margin-left: 8px;
  margin-top: 2px;
}

.add {
  background-color: lightpink;
  width: 15% !important;
  height: 5% !important;
  margin-left: 50px;
  border: 1px solid plum !important;
}

.visibleStyle {
  visibility: visible;
}

.hiddenStyle {
  visibility: hidden;
}
